<div class="navbar-nav-wrap-content-left collapse navbar-collapse" id="navbarNavMenu">
    <div class="navbar-body">
        <ul class="navbar-nav flex-grow-1">
            <li class="hs-has-sub-menu">
                <a id="pagesDropdown" class="hs-mega-menu-invoker navbar-nav-link nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="navLinkPagesDropdown-Users">
                    <i class="fas fa-user nav-icon"></i> Users
                </a>

                <!-- Dropdown -->
                <ul id="navLinkPagesDropdown-Users" class="hs-sub-menu dropdown-menu dropdown-menu-lg hs-sub-menu-desktop-lg animated" aria-labelledby="pagesDropdown-Users" style="min-width: 16rem; animation-duration: 300ms;">
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Index", "Home")">
                            <span class="tio-circle-outlined nav-indicator-icon"></span> Current users
                        </a>
                    </li>
                </ul>
                <!-- End Dropdown -->
            </li>
        </ul>
    </div>
</div>