@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model Cubezoo_Models.ViewModels.UserDirectoryModel
@{
    ViewData["Title"] = "Search Quotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="content" role="main" class="main">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Diretory</a></li>
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Overview</a></li>
                        </ol>
                    </nav>

                    <h1 class="page-header-title">User Directory</h1>
                </div>
            </div>
            <!-- End Row -->
        </div>
        @if (Model.ShowReport == false)
        {
            <partial name="_RenderSearchScreenCard" view-data='@new ViewDataDictionary(ViewData) { { "TitleText", "Get Started..." },{ "TitleSubText", "Click on the Load Users button to get started..." } }' />
        }
        else
        {
            <form class="js-validate" id="form1" method="post" asp-action="Index" asp-controller="Home">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">New User</p>
                    </div>
                    <div class="card-body">
                        @if (Model.duplicateEmailAddress ==true)
                        {
                            <div class="alert alert-soft-danger alert-dismissible fade show" role="alert">
                                <strong>Duplicate email address found...please enter a unique email</strong>
                            </div>
                        }
                        <!-- Input -->
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- Form Group -->
                                <div class="form-group">
                                    <label for="txtName" class="input-label">Name</label>
                                    <div class="js-form-message mb-3">
                                        <input id="txtName" type="text" class="form-control " required
                                               data-msg="Please enter a full name." placeholder="Full Name" asp-for="UserDirectory.name">
                                    </div>
                                </div>
                                <!-- End Form Group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- Form Group -->
                                <div class="form-group">
                                    <label for="vinNumberLabel" class="input-label">Email</label>
                                    <div class="js-form-message mb-3">
                                        <input id="stSurname" type="email" class="form-control " required
                                               data-msg="Please enter a email address." placeholder="Email Address" asp-for="UserDirectory.email">
                                    </div>
                                </div>
                                <!-- End Form Group -->
                            </div>
                        </div>
                        <!-- End Input -->
                        <div class="w-100"></div>
                        <!-- End Form -->
                    </div>
                    <!-- Footer -->
                    <div class="card-footer d-flex justify-content-end">
                        <a class="btn btn-white" href="@Url.Action("Index", "Home", new { showReport = true})">Cancel</a>
                        <input type="submit" value="Save" class="btn btn-primary ml-2" id="btnSave" />
                    </div>
                    <!-- End Footer -->
                </div>
            </form>
            <hr />
            <div class="card">
                <!-- Header -->
                <div class="card-header">
                    <div class="row justify-content-between align-items-center flex-grow-1">
                        <div class="col-lg-6 mb-3 mb-lg-0">
                            <form>
                                <!-- Search -->
                                <div class="input-group input-group-merge input-group-flush">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tio-search"></i>
                                        </div>
                                    </div>
                                    <input id="datatableSearch" type="search" class="form-control" placeholder="Search for a user" aria-label="Search for a user">
                                </div>
                                <!-- End Search -->
                            </form>
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Header -->
                <!-- Table -->
                <div class="table-responsive datatable-custom">
                    <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                        <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                               data-hs-datatables-options='{
                     "order": [],
                     "info": {
                       "totalQty": "#datatableWithPaginationInfoTotalQty"
                     },
                     "search": "#datatableSearch",
                     "entries": "#datatableEntries",
                     "pageLength": 8,
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatablePagination"
                   }'>
                            <thead class="thead-light">
                                <tr role="row">
                                    <th>Ref</th>
                                    <th>Email</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.UserDirectoriesList)
                                {
                                    <tr class="">
                                        <td class="align-middle">
                                            <a class="d-flex align-items-center">
                                                <div class="avatar avatar-soft-primary avatar-circle">
                                                    <span class="avatar-initials">@item.name.Substring(0, 1)</span>
                                                </div>
                                                <div class="ml-3">
                                                    <span class="d-block h5 text-hover-primary mb-0">@item.name</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="align-middle">
                                            <div class="media align-items-center">
                                                <span>@item.email</span>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Table -->
                <!-- Footer -->
                <div class="card-footer">
                    <!-- Pagination -->
                    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                        <div class="col-sm mb-2 mb-sm-0">
                            <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                                <span class="mr-2">Showing:</span>

                                <span class="text-secondary mr-2">of</span>

                                <!-- Pagination Quantity -->
                                <span id="datatableWithPaginationInfoTotalQty"></span>
                            </div>
                        </div>

                        <div class="col-sm-auto">
                            <div class="d-flex justify-content-center justify-content-sm-end">
                                <!-- Pagination -->
                                <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                            </div>
                        </div>
                    </div>
                    <!-- End Pagination -->
                </div>
                <!-- End Footer -->
                <!-- End Footer -->
            </div>
        }
    </div>
</main>